body{margin:0;padding:0;background:#ffe;color:#231F20;overflow:auto}
a {color:#000;font-size:14px;}
#main{width:100%;}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:10px;}
#text{width:272px;
height:560px;
left:188px;
top:80px;position:absolute;
}
#code{display:none;font-size:24px;}
#clock-box {
  position:RELATIVE;
  left:60px;
  top:550px;
  font-size:22px;
  font-family:'Montserrat', sans-serif;
  line-height: 1.8;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  display: none;
  padding: 8px 14px;
  border-radius: 10px;
}

#clock-box .STYLE2 {
  color: #FFB300; 
}
#clock-box a {font-size:28px;text-decoration:none;}
#clock{margin-left:48px;}
#clock .digit {font-size:64px;}
#canvas{margin:0 auto;width:1100px;height:680px;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
.say{
  font-family:'Playfair Display',serif;
  margin-left:1px;
  font-size:18px;
  line-height: 1.8; 
  max-width: 420px;}
.space{margin-right:150px;}
.say1{
  font-weight: bold;
  font-family:'Playfair Display',serif;
  margin-left:5px;
  font-size:22px;
  margin-bottom: 20px;}
  





